@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: slategrey;
  border: 3px solid #000929;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: #000929;
}